{% block actions %}
    <div class="btn-group" role="group">
        <a href="{{ path("app_admin_providers_view", {id: record.id}) }}" class="btn btn-default btn-xs"
            title="Ver detalle">
            <i class="glyphicon glyphicon-file"></i>
        </a>
        <a href="{{ path("app_admin_providers_edit", {id: record.id}) }}" class="btn btn-info btn-xs"
            title="Editar">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        {% if is_granted("ROLE_OWNER") %}
            <a href="{{ path("app_admin_providers_delete", {id: record.id}) }}" class="btn btn-danger btn-delete btn-xs"
                title="Eliminar">
                <i class="glyphicon glyphicon-remove"></i>
            </a>
        {% endif %}
    </div>
{% endblock %}
