{% block type %}
    {% if record.type == constant('AppBundle\\Entity\\ThirdProvider::TYPE_CLASICOS') %}
        CLÁSICOS
    {% elseif record.type == constant('AppBundle\\Entity\\ThirdProvider::TYPE_MICROBUS') %}
        MICROBUS
    {% endif %}
{% endblock %}

{% block serial_prefix %}
    <div class="text-center">
        {% if record.isSerialGenerator %}
        {{ record.serialPrefix }}
        {% else %}
        --
        {% endif %}
    </div>
{% endblock %}

{% block actions %}
    <div class="btn-group" role="group">
        <a href="{{ path("app_admin_providers_view", {id: record.id}) }}" class="btn btn-default btn-xs"
            title="Ver detalle">
            <i class="glyphicon glyphicon-file"></i>
        </a>
        <a href="{{ path("app_admin_providers_edit", {id: record.id}) }}" class="btn btn-info btn-xs"
            title="Editar">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        {% if is_granted("ROLE_OWNER") %}
            <a href="{{ path("app_admin_providers_delete", {id: record.id}) }}" class="btn btn-danger btn-delete btn-xs"
                title="Eliminar">
                <i class="glyphicon glyphicon-remove"></i>
            </a>
        {% endif %}
    </div>
{% endblock %}
