<div class="panel panel-default">
    <div class="panel-heading">
        Datos del proveedor
    </div>
    <div class="panel-body">
        {{ form_row(form.name, {label: "Nombre"}) }}
        {{ form_row(form.type, {label: "Tipo"}) }}
    </div>
</div>
