<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Informes de conciliación semanal</h4>
</div>
<div class="modal-body">
    <p>Abarca desde {{ startAt|date('d/m/Y') }} hasta {{ endAt|date('d/m/Y') }}</p>
    <table class="table table-condensed table-hover">
        <tbody>
            {% if providers|length == 0 %}
                <tr>
                    <td colspan="2">No hay informes para generar</td>
                </tr>
            {% else %}
                {% for provider in providers %}
                    <tr>
                        <td>{{ provider.name }}</td>
                        <td class="text-right" width="30px;">
                            <a href="{{ path("app_default_generateweekconcealreport", {"id": provider.id}) }}" class="btn btn-default btn-xs btn-generate-week-conceal" target="_blank">
                                {% if provider.p is not empty %}
                                    <span class="fa fa-check-square"></span>
                                {% else %}
                                    <span class="fa fa-download"></span>
                                {% endif %}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn btn-default">Cerrar</button>
</div>
