<div class="modal fade modal-pay" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            {{ include('@App/ThirdPays/pay_form.html.twig') }}
        </div>
    </div>
</div>
