<div class="modal fade" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            {{ include('@App/ThirdCobros/cobro_form.html.twig') }}
        </div>
    </div>
</div>
