<div class="panel panel-default">
    <div class="panel-heading">
        Datos de la localidad
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                {{ form_row(form.name, {label: 'Nombre'}) }}
            </div>
        </div>
    </div>
</div>
