<div class="row">
    <div class="col-xs-12">
        De: <strong>{{ message.writer }}</strong>
    </div>
    <div class="col-xs-12">
        <strong>Contenido</strong><br>
        {{ message.content }}
    </div>
</div>