<a href="{{ path("app_reports_printinvoice", {'invoiceNumber': record.invoiceNumber}) }}" class="btn btn-xs btn-default" title="Imprimir factura" target="_blank">
    <i class="glyphicon glyphicon-print"></i>
</a>
<a href="{{ path('app_reports_printjoborder', {'id': record.id}) }}" class="btn btn-default btn-xs" title="Imprimir orden de trabajo" target="_blank">
    <i class="glyphicon glyphicon-list-alt"></i>
</a>
