{% block collection_row %}
    {% for record in form %}
        {{ form_row(record) }}
    {% endfor %}
{% endblock %}

{% block reserva_passing_place_row %}
    <div class="row item">
        <div class="col-lg-3 col-xs-12">
            <div class="input-group date datepicker" style="padding: 0;">
                {{ form_widget(form.stayAt, {attr: {class: "form-control input-sm"}}) }}
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
            <div class="help-block"></div>
        </div>
        <div class="col-lg-8 col-xs-9">
            {{ form_widget(form.place, {attr: {class: 'passing-place', 'required': 'required'}}) }}
            <div class="help-block"></div>
        </div>
        <div class="col-lg-1 col-xs-3">
            <button class="btn btn-danger btn-block btn-sm btn-delete" type="button">
                <i class="fa fa-minus-circle"></i>
            </button>
        </div>
    </div>
{% endblock %}
